.header {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.card-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.card {
  display: flex;
  height: 60vh;
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 12px 12px rgba(54, 84, 255, 0.2);
  padding: 1em;
}

.input {
  height: 3em;
  width: 40em;
  border-radius: 12px;
  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  margin-bottom: 1em;
  margin: 0 2em;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 1em;
}

.form-group input {
  height: 3em;
  width: 100%;
  border-radius: 12px;
  font-family: inherit;
  background-color: transparent;
  margin-bottom: 1em;
}

.form-group p {
  align-items: center;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info:hover {
  color: black !important;
  text-decoration: none !important;
}

.login-text p:hover {
  color: blue;
  text-decoration: underline;
}

.form-group textarea {
  width: 100%;
  border-radius: 12px;
  resize: none;
  height: 6em;
  background-color: transparent;
}
.form-group date-picker {
  padding: 1em 12px;
  border-radius: 12px;
  resize: none;
  font-size: 1em;
  height: 4em;
  background-color: transparent;
}
.form-group input::placeholder {
  opacity: 0.5;
}

.form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.form-submit-btn {
  width: 6rem;
}

.form-submit-btn:hover {
  background-color: #4caf50;
}
.cancel-btn:hover {
  background-color: #cc0000;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
}
