.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
  background-color: #ebd18d;
  padding: 1em;
  border-radius: 20px;
}
.card {
  --main-color: #000;
  --accent-color: rgb(5, 209, 90);
  --bg-color: #ebd18d;
  font-family: inherit;
  width: 300px;
  min-height: 400px;
  padding: 25px;
  background: var(--bg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 1em 12px;
  border-radius: 12px;
  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  margin-bottom: 1em;
  width: 100%;
  max-width: 400px;
}
